@page "/counter"
@inject HttpClient Http
@using System.Net.Http
@using System.Net.Http.Json
@namespace PhoneRestApi

<h1>Add a contact</h1>
<div>
    First Name
    <input @bind="newFirstName" placeholder="Jane" />
</div>
<div>
    Last Name:
    <input @bind="newLastName" placeholder="Alan" />
</div>
<div>
    Phone Number:
    <input @bind="newPhoneNumber" placeholder="+71123456789" />
</div>
<button @onclick="AddItem">Add</button>

@code {
    private string newFirstName;
    private string newLastName;
    private string newPhoneNumber;

    private async Task AddItem()
    {
        var addItem = new Phone { FirstName = newFirstName, LastName = newLastName, PhoneNumber = newPhoneNumber };
        await Http.PostAsJsonAsync("api/Phone", addItem);
    }
}
